<!DOCTYPE HTML>

<html>
<head>
 <meta charset="UTF-8">
</head>

<body>

{% extends "base.html" %}
{% block title %}Naomi - Home{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>Hello, {{ name }}!</h1>
</div>

<h3> Here's some useful links </h3>

<ul>

  <li>
    <a href="https://projectnaomi.com/"> Our Website </a>
  </li>

  <li>
    <a href="https://github.com/NaomiProject"> Our github </a>
  </li>

  <li>
    <a href="https://discord.gg/knequ9t"> Our Discord <B> (Community group and tech support) </B> </a>
  </li>

</ul>


{% endblock %}



</body>



</html>
